/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @keyframes SlideFromRight {
    0% {
      transform: translateX(1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideFromRight {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes SlideFromBottom {
    0% {
      transform: translateY(1000px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  body {
    margin: 0;
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .profile-info {
    border: 2px solid #424242;
    padding: 24px;
    border-radius: 5px;
    color: #EEEEEE;
  }
  
  .profile-photo {
    width: 96px;
    height: 96px;
  }
  .arobase {
    color: #424242;
    margin-top: 0px !important;
  }
  .username {
    font-weight: bold;
  }
  p {
    margin: none !important;
  }
  
  .modal {
    margin-top: 48px;
    border: 1px solid #424242;
    padding: 24px;
    color: #EEEEEE;
  }
  .modal-buttons {
    justify-content: space-between;
    display: flex;
  }
  .follow-info {
    display: flex;
    justify-content: space-between;
  }

  strong {
    cursor: pointer;
  }

  button {
  margin-left: 8px;
  }